@font-face {
    font-family: 'Gotham Pro Light';
    src:
    url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Gotham Pro Medium';
    src:
    url('../fonts/GothamPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Gotham Pro';
    src:
    url('../fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

* {
 margin: 0;   
 padding: 0;
}

body {
    background-color: #292929;
    color: #ffffff;
    font-family: 'Gotham Pro', sans-serif;
    margin: 0;
}

header {
    padding-top: 50px;
}

.header-description {
    font-family: 'Gotham Pro Light';
    letter-spacing: 0.12px;
    font-size: 12px;
    
}

.text-color-red {
    color: #ff3469;
    font-family: 'Gotham Pro Medium';
}

.header-contacts {
    text-align: right;
    width: 46% ;
   }

.header-phone {
color: #ffffff;
text-decoration: none;
font-size: 20px;
font-weight: 500;
display: block;
}

.header-info {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-top: 7px;
} 

.callback {
    color: #ff3469;
    text-align: right;
    display: block;
    margin-top: 16px;
    font-size: 16px;
}

.hero {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 77px;
    border-bottom: 1px solid #4c4c4c;
}

.hero-title {
font-family: "Gotham Pro Medium";
font-size: 34px;
text-transform: uppercase;
letter-spacing: 0.34px;
font-weight: 500;
margin-bottom: 34px;
max-width: 660px;
margin: auto;
margin-bottom: 34px;
}

.hero-discription {
    font-family: 'Gotham Pro Light';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.34px;
    line-height: 1.4;
    
}

.hero-cta {
    font-family: 'Gotham Pro Light';
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 76px;
    display: block;
   
}

.flowers-slider {
 width: 100%;
 margin-bottom: 87px;
 margin-top :  83px;  
}

.swiper-flowers{
 color: #fff;   
}

:root {
 --swiper-navigation-size: 18px;   
}

.button {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff2e55;
    padding-top:  30px;
    padding-bottom: 26px;
    padding-left: 65px;
    padding-right: 65px; 
    cursor: pointer;
    border:none;

}

.reviews {
    padding-top: 100px;
    padding-bottom: 50px;
    
      
}
.reviews-slider{
    margin-top: 98px;
}

.review-slide {

   padding-left: 60px;
   padding-right: 60px;    
}

.review-image {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Gotham Pro Light';
    position: relative;
    margin-right: 50px;
}
.review-image > * {
    position: relative;
}
.review-image:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}


.review-image-1 {
    background: #000 url('../img/reviews-flowers.png');
}

.review-name {
    margin-bottom: 7px;
}

.review-text {
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 1.4; 
}

.review-link {
    color: #f24841;
}
.review {
    max-width: 480px;

    
}
.section-title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3px;
    

}

.reviews-swiper-button {
--swiper-navigation-size: 40px;   
color: #f24841;
}

.advantages {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 50px;
    border-bottom: 1px solid #4c4c4c;
}

.advantages-wrapper {
    min-height: 80px ;
    margin-bottom: 30px;
}

.advantages-title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.4;
    max-width: 262px;
    margin: auto;
}

.goods {

    padding-top: 100px;
    padding-bottom: 100px;

}

.section-description {
    margin-top: 27px;
    margin-bottom: 77px;
    font: size 18px;
    text-align: center;
}

.card {
text-align: center;
border: 3px solid #ffffff;
padding: 33px 35px 30px 35px; 
height: 375px;
width: 210px;
margin-top: 27px;


}


.card-title {
    margin-top: 23px;
    margin-bottom: 27px;
    text-transform: uppercase;
}
.card-label {
    font-size: 14px;
    display: block;
    margin-bottom: 7px;
    margin-top: 20px;
    cursor: pointer;
}

.color-label {
    width: 20px;
    height: 20px;
    
}

.color-input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -9;
}
.color-label.white {
    background-color: #fff;
}

.color-label.biege {
    background-color: #f7b496;
}
.color-label.pink {
    background-color: #ed366e;
}
.color-label.red {
    background-color: #ff0000;
}
.color-label.blue {
    background-color: #12129d;
}


.card-laber {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}

.counter-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    color:#ffffff;
    background-color: #292929;
    border: none;
}
.counter-input {
    border: 2px solid #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #ffffff;
    background-color: #292929;
    margin-left: 15px;
    margin-right: 15px;
}

.card-button {
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    padding-bottom: 13px;
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.more {
    font-size: 14px;
    color: #f24841;
    display: block;
    text-align: center;
    margin-top: 39px;
}


.more:after {
display: inline-block;
content: '';
width: 10px;
height: 4px;
background: url('../img/icon/arr.svg') no-repeat center;
margin-left: 14px;
vertical-align: middle;
}

.offer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #1a1a1a;
    text-align: center;

}

.offer-link {
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    font-size: 30px;
    margin-bottom: 65px;
    margin-top: 29px;
}
.offer-label {
    display: block;
    margin-bottom: 22px;
    font-size: 14px;

}
.offer-phone {
    font-size: 36px;
    text-decoration: none;
    color:#ffffff
}

.footer-menu {

list-style: none;
margin-bottom: 33px;
}

.footer-menu-link {
    
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
}

.footer-menu-item {
 margin-right: 30px;   
}

.social {
    font-size: 16px;
}

.footer-label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;

}

.footer-info {
    text-align: right;
}

.footer-phone {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    display: block;
    margin-bottom: 12px;
}

.footer-white {
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 40px;
    color: #000000;
}

.footer-white-description {
    color: #292929;
    font-family: "Gotham Pro";
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}


.footer-white-info {
    color: #101010;
    font-family: "Myriad Pro";
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.12px;  
    margin-top: 20px;
    display: block;
}

.footer-white-link {
    color: #101010;
    font-family: "Myriad Pro";
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.12px;
    }

.footer-text-color-red {
color: #ff3469;
font-family: "Gotham Pro Medium";
font-weight: 500;
letter-spacing: 0.12px;

}

.modal {
    display: none;
}

.modal-button {
    width: 100%;
}

.modal-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.flower-none {
    display: none;
}



@media (max-width: 768px) {

    .header {
     text-align: center;
    }

    .header-contacts {
     text-align: center;
     width: 100%;
      }  

    .header-phone{
      width: 100%;
    }

   .callback {
    width: 100%;
    text-align: center;  
   }
    
    .hero {
        padding-top: 50px;
       
    }

    .hero-title {
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 1.6;
    }

    .hero-discription {
        font-size: 16px;
        line-height: 1.6;
    }

    .button {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .review-text {
        margin-top: 20px;
    }

    .card {
        max-width: 200px;
        margin-left: 25%;
    }

    .card-label {
        margin: 15px auto;
        display: block;
    }

    .footer-info {
    text-align: left;
    }
}

@media (max-width:576px) {
      .offer, .offer-title, .footer-info {
        text-align: left;
    }
}